

label.item,.item 
{
	display: list-item;
	box-shadow: inset 0px 1px 6px rgba(253,253,253,1);
	border-radius: 13px;
	background: rgba(223,223,223,0.3);
	color: #2a2a2a;
	padding: 10px 5px;
	margin: 10px 15px;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}


/*  菜单列表项  li.item */



.item a{

color: #363636;

}




/*  预览页 功能键 */



.uk-badge-price{
	
	box-shadow: 0px 1px 1px 0px rgba(142,142,142,0.3);	
	border-radius: 9px;
	background: rgba(68,68,68,0.8);
	color: rgba(188,188,188,0.96);
	padding-top:3px; 
	
}

/* 价格标签 */




fieldset.uk-text-center
{
list-style: none;
box-shadow: inset 1px 1px 10px rgba(205,205,205,0.61);
padding:  30px 0;

}
/* 表单自定义字段 */


hr
{
margin: 10px 0px;
box-shadow: 0 1px 1px rgba(255,255,255,1);
background: #fff;
color: #fff;

}


div.uk-heading

{

width:100%;
box-shadow:  1px 7px 10px rgba(145,145,145,1);
background: rgba(288,288,288,1);
color: #383838;
height: 50px;
font-family: cursive;
font-weight: bold;
display: inherit;
text-align: center;
padding-top: 20px;

}

#headnav,ul.uk-icon,li,.uk-heading h2,h2 blockquote

{
max-width: 80px;
display:inline;
font-family: cursive;
font-weight: bold;
z-index: inherit;
padding:5px 16px;



}

img.uk-thumbnail-kay
{
width:80px;
padding: 10px

}
img.uk-thumbnail-kay-lb
{

width: 190px;



}

/* 页脚页眉 */





