

label.item,.item 
{
	display: list-item;
	box-shadow: inset 0px 1px 6px rgba(253,253,253,1);
	border-radius: 13px;
	background: rgba(223,223,223,0.3);
	color: #2a2a2a;
	padding: 15px 5px;
	margin: 8px 15px;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}


/*  菜单列表项  li.item */



.item a{

color: #363636;

}




/*  预览页 功能键 */



.uk-badge-price, .uk-badge-price var{
	
	box-shadow: 0px 1px 1px 0px rgba(142,142,142,0.3);	
	border-radius: 9px;
	background: rgba(88,88,88,1);
	color: rgba(238,238,238,0.96);
	padding:5px; 
	width:100px;
	
}

a.uk-icon-jpy
{
color: rgb(238,238,238);

}

/* 价格标签 */

a.uk-close.uk-close-alt{
    
    color: red;
    
    
}


fieldset.customfield
{
list-style: none;
box-shadow: inset 0px 1px 20px rgba(255,255,255,0.3);
padding:10px;
padding-left: 20px;


}
/* 表单自定义字段 */


hr
{
margin: 10px 0px;
box-shadow: 0px 1px 1px 1px rgba(105,255,255,1);
background: #fff;
color: #fff;

}

#untreated-form
{
margin-top: 12px;
}
div.uk-heading
{


box-shadow:  0px 1px 10px 1px rgba(145,145,145,0.1);
background: rgba(253,253,253,1);
color: #383838;
font-family: cursive;
font-weight: bold;
display: block;
z-index: 0;




}

nav#headnav,nav#headnav ul.uk-icon,blockquote.uk-text-left

{

display:inline;
font-family: cursive;
font-weight: bold;
z-index: inherit;
padding-left: 5;

}

nav#headnav{
display: inline-table;
padding:15px 0;
overflow-y: -webkit-marquee;

}



img.uk-thumbnail-kay
{
width:60px;



}
img.uk-thumbnail-kay-lb
{

width: 110px;

}

#selected
{

background: rgba(97,97,97,1);
display: inline-block;
}


section#selected,section#selected a
{

color: #2389a0;
z-index:1;

}



#selected a
{
    text-align: center;
    margin:0 65px;
    margin-top: 10px;
    color: #fff;

}






