
nav.uk-width-1 div button
{

padding-top: 15px;
padding-bottom: 15px;
}



li.item
{
	padding: 10px;
	box-shadow: 1px 1px 4px rgba(153,153,153,0.63);
	border-radius: 8px;
	border: 1px solid rgba(225,225,225,0.31);
	font-family:monospace;
	font-weight: bold;
	font-size: 17px;
	background: rgba(225,225,225,0.24);
	
}


val.cm.uk-width-1-2

{

display: inline-block;
color:#4b4b4b;
padding-top: 5px;
text-align: left;

} 


a:hover
{

	
	text-decoration:none;
	
}


a{

	color: #370072;
}


nav.uk-width-1-1

{
	background: rgba(238,238,238,1);

}



table
{

margin-top: 20px;
}



	
nav.uk-animation-slide-top
{
padding-top: 10px;

}

ul.uk-list.uk-list-space.uk-text-center
{

margin-top: 46px;

}

