

html
{
	font-family: Arial,  "微软雅黑";
	text-indent: 2px;
	

}


body 
{

background: rgba(253,253,253,1);
padding-right:8px;
margin-left: -8;

}

div.uk-heading
{

width: 100%;
z-index: 1;
}



a:hover
{

	
	text-decoration:none;
	color: #0096a6;
	
}


li 

{ 
list-style-type: none; 
} 